<div class="product-container-row col justify-content-center clicky mt-5" *ngIf="product">
  <div class="product-image-container row">
    <div id="{{'carousel' + product.id}}" class="carousel slide" data-ride="carousel">
      <ul class="carousel-indicators">
        <li [attr.data-target]="'#' + product.id" *ngFor="let image of product.images; index as i" data-slide-to="i">
        </li>
      </ul>
      <div class="carousel-inner">
        <div class="carousel-item" *ngFor="let image of product.images; index as i" id="image-{{i}}"
          [ngClass]="{'active': i == 0}">
          <img [src]="imageUrl + image.image" class="product-image-carousel" routerLink="/product/{{product.id}}/{{product.title.replace(' ', '-').trim()}}">
          <div class="carousel-caption">
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="{{'#carousel' + product.id}}" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="{{'#carousel' + product.id}}" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </div>
  <div class="col ml-2 mr-2" *ngIf=" product">
    <div routerLink="/product/{{product.id}}/{{product.title.replace(' ', '-').trim()}}" class="row product-tag justify-content-center">{{ product.category.name }}
      <div *ngIf="!product.available">Niet Beschikbaar</div>
    </div>
    <div routerLink="/product/{{product.id}}/{{product.title.replace(' ', '-').trim()}}" class="row product-title justify-content-center"
      *ngIf="product.title.length >= 20">
      {{ product.title | slice:0:20}}..</div>
    <div routerLink="/product/{{product.id}}/{{product.title.replace(' ', '-').trim()}}" class="row product-title justify-content-center"
      *ngIf="product.title.length < 20">
      {{ product.title}}</div>
    <div routerLink="/product/{{product.id}}/{{product.title.replace(' ', '-').trim()}}" class="row product-description justify-content-center"
      *ngIf="product.description.length >= 80">
      {{ product.description | slice:0:80 }}..</div>
    <div routerLink="/product/{{product.id}}/{{product.title.replace(' ', '-').trim()}}" class="row product-description justify-content-center"
      *ngIf="product.description.length < 80">
      {{ product.description}}</div>
    <div class="row line mt-4">

    </div>
    <div class="row mt-3">
      <div *ngIf="cartProduct" class="col-1 product-price justify-content-center">{{ cartProduct.quantity }}x</div>
      <div *ngIf="product.options.length > 0" class="col-4 product-price justify-content-center">€ {{ product.options[0].price }}</div>
      <div class="col-4">
        <div *ngIf="cartProduct" class="row">
          <div *ngIf="cartProduct" (click)="removeQuantity()" class="col-1 icon-remove">-</div>
          <div *ngIf="cartProduct" class="col-1 icon-default">|</div>
          <div *ngIf="cartProduct" (click)="addQuantity()" class="col-1 icon-add">+</div>
        </div>
      </div>
      <div *ngIf="!cartProduct && product.options.length > 0" class="col-2 icon-add justify-content-center" (click)="addToCart()"><i
          class="fa fa-shopping-cart"></i></div>
      <div *ngIf="cartProduct" class="col-2 icon-remove justify-content-center" (click)="removeFromCart()"><i
          class="fa fa-trash"></i></div>
    </div>
  </div>
</div>