.blog-image-container {
    height: 300px;
    width: 100%;
    position: relative;
    padding: 0;
    z-index: 1;
}

.blog-image {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 5px 15px -8px rgba(0, 0, 0, .24), 0 8px 10px -5px rgba(0, 0, 0, .2);
}

.blog-image-shadow {
    transform: scale(.94);
    top: 12px;
    filter: blur(12px);
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    transition: opacity .45s;
}

.blog-tags {
    color: #00bcd4!important;
    font-size: .75rem;
    text-transform: uppercase;
    font-weight: 500;
}

.blog-title {
    color: #3c4858;
    text-decoration: none;
    font-weight: 700;
    font-family: Roboto Slab, Times New Roman, serif;
    font-size: 1.5625rem;
    line-height: 1.4em;
}

.blog-description {
    color: #999;
    font-size: 1.0625rem;
    line-height: 1.55em;
    margin-bottom: 15px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 300;
    text-align: center;
}