<div id="landing" class="page-header" data-parallax="true" style="background-image: url('./assets/img/woodWork.jpg');">
    <div class="filter"></div>
    <div class="container">
        <section class="section" id="contact" style="z-index: 4; margin-top:30%; border-top-left-radius: 10px; border-top-right-radius: 10px;">
            <div class="row justify-content-center">
                <div class="col-6">
                    <div class="row justify-content-center mt-5">
                        <div class="blog-image-container">
                            <img src="./assets/img/soroush-karimi.jpg" class="blog-image">
                            <img src="./assets/img/soroush-karimi.jpg" class="blog-image-shadow">
                        </div>
                    </div>
                    <div class="row justify-content-center mt-3">
                        <div class="blog-tags">Fashion</div>
                    </div>
                    <div class="row justify-content-center mt-2">
                        <div class="blog-title">Autodesk looks to future of 3D</div>
                    </div>
                    <div class="row justify-content-center mt-2">
                        <div class="blog-description">Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is too high for the beams and angle of the ceiling I also wanted
                            to point out that it’s the first album to go number 1 off of streaming.</div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>