<div id="landing" class="page-header" data-parallax="true" style="background-image: url('./assets/img/woodWork.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-profile" *ngIf="landing" animateOnScroll animationName="fade-in-right">
                    <div class="card-avatar">
                        <a href="#pablo">
                            <img class="img" [src]="landingImage" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h6 class="card-category">{{ landing.firstName }}</h6>
                        <h4 class="card-title">{{ landing.secondName }}</h4>
                        <div class="card-description">
                            <div class="row mt-4">
                                <div class="col contact-description mb-1 d-flex justify-content-start">
                                    Mijn Top 3 projecten
                                </div>
                            </div>
                            <div class="row mb-4" *ngIf="products">
                                <div class="landing-image-container col" routerLink="/product/{{products[0].id}}">
                                    <img [src]="imageUrl + products[0].images[0].image" class="landing-image">
                                    <img [src]="imageUrl + products[0].images[0].image" class="landing-image-shadow">
                                </div>
                                <div class="landing-image-container col" routerLink="/product/{{products[1].id}}">
                                    <img [src]="imageUrl + products[1].images[0].image" class="landing-image">
                                    <img [src]="imageUrl + products[1].images[0].image" class="landing-image-shadow">
                                </div>
                                <div class="landing-image-container col" routerLink="/product/{{products[2].id}}">
                                    <img [src]="imageUrl + products[2].images[0].image" class="landing-image">
                                    <img [src]="imageUrl + products[2].images[0].image" class="landing-image-shadow">
                                </div>
                            </div>
                        </div>
                        <a (click)="scroll('contact')" class="btn mt-4 btn-dark btn-round"
                            style="color:white;">Contact</a>
                    </div>
                </div>
            </div>
            <div class="col align-self-center ">
                <div class="motto text-center" *ngIf="landing">
                    <h1 class="landing-title">{{ landing.firstTitle }}</h1>
                    <h3>{{ landing.secondTitle }}</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark fixed-side-top" id="sideNav">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link landing-nav-item" [ngClass]="{'open': landingScroll}"
                    (click)="scroll('landing')">Landing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link landing-nav-item" [ngClass]="{'open': productsScroll }"
                    (click)="scroll('product-synopsys')">Producten</a>
            </li>
            <li class="nav-item">
                <a class="nav-link landing-nav-item" [ngClass]="{'open': materialsScroll }"
                    (click)="scroll('materials')">Materialen</a>
            </li>
            <li class="nav-item">
                <a class="nav-link landing-nav-item" [ngClass]="{'open': referenceScroll }"
                    (click)="scroll('reference')">Referenties</a>
            </li>
            <li class="nav-item">
                <a class="nav-link landing-nav-item" [ngClass]="{'open': contactScroll }"
                    (click)="scroll('contact')">Contact</a>
            </li>
        </ul>
    </div>
</nav>
<div class="main">
    <div class="main-card">
        <section class="section" style="border-top-left-radius: 10px; border-top-right-radius: 10px;"
            id="product-synopsys">
            <div class="title">Mijn Top 3 Producten</div>
            <div class="product-container" *ngIf="products">
                <div animateOnScroll animationName="fade-in-left" *ngIf="products"
                    class="product-container-row row justify-content-center clicky">
                    <div class="product-image-container col-3">
                        <div id="firstProductImages" class="carousel slide" data-ride="carousel">
                            <ul class="carousel-indicators">
                                <li data-target="#firstProductImages"
                                    *ngFor="let image of products[0].images; index as i" data-slide-to="i"></li>
                            </ul>
                            <div class="carousel-inner">
                                <div class="carousel-item" *ngFor="let image of products[0].images; index as i"
                                    id="image-{{i}}" [ngClass]="{'active': i == 0}">
                                    <img [src]="imageUrl + image.image" class="product-image-carousel"
                                        routerLink="/product/{{products[0].id}}">
                                    <div class="carousel-caption">
                                    </div>
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#firstProductImages" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next" href="#firstProductImages" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </a>
                        </div>
                    </div>
                    <div class="product-text-right-container col-4" *ngIf="products[0]"
                        routerLink="/product/{{products[0].id}}">
                        <div class="row product-tag">{{ products[0].category.name }} - <div
                                *ngIf="products[0].available"> Beschikbaar</div>
                            <div *ngIf="!products[0].available">Niet Beschikbaar</div>
                        </div>
                        <div class="row product-title">{{ products[0].title }} - €{{ products[0].price }}</div>
                        <div class="row product-description" *ngIf="products[0].description.length >= 400">
                            {{ products[0].description | slice:0:400}}..</div>
                        <div class="row product-description" *ngIf="products[0].description.length <= 400">
                            {{ products[0].description}}</div>
                        <div class="row product-customer">By {{ landing.firstName }},
                            {{ products[0].updated | timeAgo }}</div>
                    </div>
                </div>
                <div animateOnScroll animationName="fade-in-right" *ngIf="products"
                    class="product-container-row row justify-content-center clicky">
                    <div class="product-text-left-container col-4" *ngIf="products[1]"
                        routerLink="/product/{{products[1].id}}">
                        <div class="row product-tag">{{ products[1].category.name }} - <div
                                *ngIf="products[1].available"> Beschikbaar</div>
                            <div *ngIf="!products[1].available">Niet Beschikbaar</div>
                        </div>
                        <div class="row product-title">{{ products[1].title }} - €{{ products[1].price }}</div>
                        <div class="row product-description" *ngIf="products[1].description.length >= 400">
                            {{ products[1].description | slice:0:400}}..</div>
                        <div class="row product-description" *ngIf="products[1].description.length <= 400">
                            {{ products[1].description}}</div>
                        <div class="row product-customer">By {{ landing.firstName }},
                            {{ products[1].updated | timeAgo }}</div>
                    </div>
                    <div class="product-image-container custom-left col-3">
                        <div id="secondProductImages" class="carousel slide" data-ride="carousel">
                            <ul class="carousel-indicators">
                                <li data-target="#firstProductImages"
                                    *ngFor="let image of products[1].images; index as i" data-slide-to="i"></li>
                            </ul>
                            <div class="carousel-inner">
                                <div class="carousel-item" *ngFor="let image of products[1].images; index as i"
                                    id="image-{{i}}" [ngClass]="{'active': i == 0}">
                                    <img [src]="imageUrl + image.image" class="product-image-carousel"
                                        routerLink="/product/{{products[1].id}}">
                                    <div class="carousel-caption">
                                    </div>
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#secondProductImages" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next" href="#secondProductImages" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div animateOnScroll animationName="fade-in-left" *ngIf="products"
                    class="product-container-row row justify-content-center clicky">
                    <div class="product-image-container col-3">
                        <div id="thirdProductImages" class="carousel slide" data-ride="carousel">
                            <ul class="carousel-indicators">
                                <li data-target="#firstProductImages"
                                    *ngFor="let image of products[2].images; index as i" data-slide-to="i"></li>
                            </ul>
                            <div class="carousel-inner">
                                <div class="carousel-item" *ngFor="let image of products[2].images; index as i"
                                    id="image-{{i}}" [ngClass]="{'active': i == 0}">
                                    <img [src]="imageUrl + image.image" class="product-image-carousel"
                                        routerLink="/product/{{products[2].id}}">
                                    <div class="carousel-caption">
                                    </div>
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#thirdProductImages" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next" href="#thirdProductImages" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </a>
                        </div>
                    </div>
                    <div class="product-text-right-container col-4" *ngIf="products[2]"
                        routerLink="/product/{{products[2].id}}">
                        <div class="row product-tag">{{ products[2].category.name }} - <div
                                *ngIf="products[2].available"> Beschikbaar</div>
                            <div *ngIf="!products[2].available">Niet Beschikbaar</div>
                        </div>
                        <div class="row product-title">{{ products[2].title }} - €{{ products[2].price }}</div>
                        <div class="row product-description" *ngIf="products[2].description.length >= 400">
                            {{ products[2].description | slice:0:400}}..</div>
                        <div class="row product-description" *ngIf="products[2].description.length <= 400">
                            {{ products[2].description}}</div>
                        <div class="row product-customer">By {{ landing.firstName }},
                            {{ products[2].updated | timeAgo }}</div>
                    </div>
                </div>
            </div>
            <hr class="col-8 mt-5">
        </section>
        <section class="section" id="materials">
            <div class="title">Materialen</div>
            <div animateOnScroll animationName="fade-in-left" *ngIf="woodMaterials"
                class="material-container justify-content-center row">
                <div class="material-text-container col-3">
                    <div class="material-title">{{ woodTitle }}</div>
                    <div class="material-description">{{ woodMaterial }}</div>
                </div>

                <div class="material-synopsys-container col-4">
                    <div class="row">
                        <div class="material-image-container col" *ngIf="woodMaterials[0]"
                            (mouseenter)="onHoverWoodByObject(woodMaterials[0])" (mouseleave)="onHoverWood('')">
                            <img [src]="imageUrl + woodMaterials[0].image" class="material-image">
                            <img [src]="imageUrl + woodMaterials[0].image" class="material-image-shadow">
                        </div>
                        <div class="material-image-container col" *ngIf="woodMaterials[1]"
                            (mouseenter)="onHoverWoodByObject(woodMaterials[1])" (mouseleave)="onHoverWood('')">
                            <img [src]="imageUrl + woodMaterials[1].image" class="material-image">
                            <img [src]="imageUrl + woodMaterials[1].image" class="material-image-shadow">
                        </div>
                        <div class="material-image-container col" *ngIf="woodMaterials[2]"
                            (mouseenter)="onHoverWoodByObject(woodMaterials[2])" (mouseleave)="onHoverWood('')">
                            <img [src]="imageUrl + woodMaterials[2].image" class="material-image">
                            <img [src]="imageUrl + woodMaterials[2].image" class="material-image-shadow">
                        </div>
                    </div>
                    <div class="row">
                        <div class="material-image-container col" *ngIf="woodMaterials[3]"
                            (mouseenter)="onHoverWoodByObject(woodMaterials[3])" (mouseleave)="onHoverWood('')">
                            <img [src]="imageUrl + woodMaterials[3].image" class="material-image">
                            <img [src]="imageUrl + woodMaterials[3].image" class="material-image-shadow">
                        </div>
                        <div class="material-image-container col" *ngIf="woodMaterials[4]"
                            (mouseenter)="onHoverWoodByObject(woodMaterials[4])" (mouseleave)="onHoverWood('')">
                            <img [src]="imageUrl + woodMaterials[4].image" class="material-image">
                            <img [src]="imageUrl + woodMaterials[4].image" class="material-image-shadow">
                        </div>
                        <div class="material-image-container col" *ngIf="woodMaterials[5]"
                            (mouseenter)="onHoverWoodByObject(woodMaterials[5])" (mouseleave)="onHoverWood('')">
                            <img [src]="imageUrl + woodMaterials[5].image" class="material-image">
                            <img [src]="imageUrl + woodMaterials[5].image" class="material-image-shadow">
                        </div>
                    </div>
                </div>
            </div>
            <div animateOnScroll animationName="fade-in-right" *ngIf="stoneMaterials"
                class="material-container justify-content-center row">
                <div class="material-synopsys-container col-5">
                    <div class="row">
                        <div class="material-image-container col" *ngIf="stoneMaterials[0]"
                            (mouseenter)="onHoverStoneByObject(stoneMaterials[0])" (mouseleave)="onHoverStone('')">
                            <img [src]="imageUrl + stoneMaterials[0].image" class="material-image">
                            <img [src]="imageUrl + stoneMaterials[0].image" class="material-image-shadow">
                        </div>
                        <div class="material-image-container col" *ngIf="stoneMaterials[1]"
                            (mouseenter)="onHoverStoneByObject(stoneMaterials[1])" (mouseleave)="onHoverStone('')">
                            <img [src]="imageUrl + stoneMaterials[1].image" class="material-image">
                            <img [src]="imageUrl + stoneMaterials[1].image" class="material-image-shadow">
                        </div>
                        <div class="material-image-container col" *ngIf="stoneMaterials[2]"
                            (mouseenter)="onHoverStoneByObject(stoneMaterials[2])" (mouseleave)="onHoverStone('')">
                            <img [src]="imageUrl + stoneMaterials[2].image" class="material-image">
                            <img [src]="imageUrl + stoneMaterials[2].image" class="material-image-shadow">
                        </div>
                    </div>
                    <div class="row">
                        <div class="material-image-container col" *ngIf="stoneMaterials[3]"
                            (mouseenter)="onHoverStoneByObject(stoneMaterials[3])" (mouseleave)="onHoverStone('')">
                            <img [src]="imageUrl + stoneMaterials[3].image" class="material-image">
                            <img [src]="imageUrl + stoneMaterials[3].image" class="material-image-shadow">
                        </div>
                        <div class="material-image-container col" *ngIf="stoneMaterials[4]"
                            (mouseenter)="onHoverStoneByObject(stoneMaterials[4])" (mouseleave)="onHoverStone('')">
                            <img [src]="imageUrl + stoneMaterials[4].image" class="material-image">
                            <img [src]="imageUrl + stoneMaterials[4].image" class="material-image-shadow">
                        </div>
                        <div class="material-image-container col" *ngIf="stoneMaterials[5]"
                            (mouseenter)="onHoverStoneByObject(stoneMaterials[5])" (mouseleave)="onHoverStone('')">
                            <img [src]="imageUrl + stoneMaterials[5].image" class="material-image">
                            <img [src]="imageUrl + stoneMaterials[5].image" class="material-image-shadow">
                        </div>
                    </div>
                </div>
                <div class="material-text-container col-3">
                    <div class="material-title">{{stoneTitle}}</div>
                    <div class="material-description">{{stoneMaterial}}</div>
                </div>
            </div>
            <hr class="col-8 mt-5">
        </section>
        <section class="section" id="reference" *ngIf="references">

            <div class="reference-section-title justify-content-center row">Our Clients Love Us</div>
            <div class="reference-section-description justify-content-center row">You need more information? Check what
                other persons are saying about our product. They are very happy with their purchase.</div>

            <div class="row justify-content-center">
                <div class="col-md-3" animateOnScroll animationName="fade-in-left">
                    <div class="reference-card" *ngIf="references[0]">
                        <div class="reference-card-quote">
                            <i class="material-icons">format_quote</i>
                        </div>
                        <div class="reference-body-description">
                            <div class="reference-card-description">
                                {{ references[0].message}}
                            </div>
                        </div>
                        <div class="reference-card-name">
                            {{ references[0].name}}
                        </div>
                        <div class="row justify-content-center">
                            <div class="reference-image-container col">
                                <img [src]="imageUrl + references[0].image" class="reference-image">
                                <img [src]="imageUrl + references[0].image" class="reference-image-shadow">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="reference-card" *ngIf="references[1]">
                        <div class="reference-card-quote">
                            <i class="material-icons">format_quote</i>
                        </div>
                        <div class="reference-body-description">
                            <div class="reference-card-description">
                                {{ references[1].message}}
                            </div>
                        </div>
                        <div class="reference-card-name">
                            {{ references[1].name}}
                        </div>
                        <div class="row justify-content-center">
                            <div class="reference-image-container col">
                                <img [src]="imageUrl + references[1].image" class="reference-image">
                                <img [src]="imageUrl + references[1].image" class="reference-image-shadow">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3" animateOnScroll animationName="fade-in-right" *ngIf="references[2]">
                    <div class="reference-card ">
                        <div class="reference-card-quote">
                            <i class="material-icons">format_quote</i>
                        </div>
                        <div class="reference-body-description">
                            <div class="reference-card-description">
                                {{ references[2].message}}
                            </div>
                        </div>
                        <div class="reference-card-name">
                            {{ references[2].name}}
                        </div>
                        <div class="row justify-content-center">
                            <div class="reference-image-container col">
                                <img [src]="imageUrl + references[2].image" class="reference-image">
                                <img [src]="imageUrl + references[2].image" class="reference-image-shadow">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">

                <hr class="col-8 mt-5">
            </div>
        </section>
        <section class="section" id="contact">
            <div class="row justify-content-center mt-5">
                <div class="col-4">
                    <div class="contact-title">Get in Touch</div>
                    <div class="contact-description">You need more information? Check what other persons are saying
                        about our product. They are very happy with their purchase.</div>
                    <div class="contact-location"><i class="material-icons">pin_drop</i> Find us at the office</div>
                    <div class="contact-location-description">Buizerdstraat,<br /> nr. 62, 2665TG Bleiswijk,<br />
                        Netherlands</div>
                    <div class="contact-info"><i class="material-icons">phone</i> Give us a ring</div>
                    <div class="contact-info-description">Dylan Vollebregt<br /> 06-83170243<br />
                        maisondam@hotmail.com</div>
                </div>
                <div class="col-4">
                    <div class="card">
                        <div class="card-header">Contact Me</div>
                        <div class="card-body">
                            <form [formGroup]="contactForm" (ngSubmit)="sendMessage()" class="example-form">
                                <div class="row mt-4">
                                    <div class="col ">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>First Name</mat-label>
                                            <input matInput placeholder="" formControlName="firstname">
                                        </mat-form-field>
                                    </div>
                                    <div class="col">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Last Name</mat-label>
                                            <input matInput placeholder="" formControlName="lastname">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Email</mat-label>
                                            <input matInput placeholder="" formControlName="email">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Your Message</mat-label>
                                            <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="10"
                                                placeholder="" formControlName="message"></textarea>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col d-flex justify-content-end">
                                        <button type="submit" class="btn btn-dark">Send Message</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>