.product-image-container {
    height: 300px;
    width: 100%;
    position: relative;
    padding: 0;
    z-index: 1;
}

.product-container-row {
    opacity: 0;
}

.product-image {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 5px 15px -8px rgba(0, 0, 0, .24), 0 8px 10px -5px rgba(0, 0, 0, .2);
}

.clicky {
    cursor: pointer;
}

.product-image-shadow {
    transform: scale(.94);
    top: 12px;
    filter: blur(12px);
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    transition: opacity .45s;
}

.tags {
    list-style: none;
    margin: 0;
    overflow: hidden; 
    padding: 0;
  }
  
  .tag {
    background: #eee;
    border-radius: 3px 0 0 3px;
    color: #6d6969;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
    cursor: pointer;
  }
  
  .tag::before {
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 10px;
  }
  
  .tag::after {
    background: #fff;
    border-bottom: 13px solid transparent;
    border-left: 10px solid #eee;
    border-top: 13px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .tag:hover {
    background-color: rgb(114, 134, 116);
    color: white;
  }
  
  .tag:hover::after {
     border-left-color:rgb(114, 134, 116); 
  }

  .tag-active::after {
    border-left-color:rgb(114, 134, 116); 
    color: white;
  }

  .tag-active {
    background-color:rgb(114, 134, 116);
    color: white;
  }

.product-tags {
    color: #00bcd4!important;
    font-size: .75rem;
    text-transform: uppercase;
    font-weight: 500;
}

.product-title {
    color: #3c4858;
    text-decoration: none;
    font-weight: 700;
    font-family: Roboto Slab, Times New Roman, serif;
    font-size: 1.5625rem;
    line-height: 1.4em;
}

.product-description {
    color: #999;
    font-size: 1.0625rem;
    line-height: 1.55em;
    margin-bottom: 15px;
    white-space: pre-wrap;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 300;
    text-align: left;
}

@media (max-width: 1600px) {
    .material-image {
        width: 130px;
        height: 130px;
    }
    .material-image-shadow {
        width: 130px;
        height: 130px;
    }
}

@media (max-width: 800px) {
    .product-container-row [class*="col-"] {
        width: 80%;
        max-width: none;
        flex: none;
        padding-left: 0px;
        padding-right: 0px;
    }
    #contact [class*="col-"] {
        width: 80%;
        max-width: none;
        flex: none;
        padding-left: 0px;
        padding-right: 0px;
    }
    .navbar {
        padding: 0px;
    }
    .section {
        padding: 0px;
    }
    .main-card {
        top: 0px;
        box-shadow: none;
        max-width: none;
    }
    section.section {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
    .product-container-row {
        margin-top: 0px;
    }
    .product-image-container {
        margin-bottom: 40px;
    }
    .product-text-left-container {
        display: none;
    }
    .product-text-right-container {
        margin-left: 0px;
        margin-bottom: 30px;
    }
    #materials {
        display: none;
    }
    #reference {
        display: none;
    }
    .custom-left {
        display: none;
    }
    /* .product-container-row .row {
        display: none;
        margin-left: none;
        margin-right: none;
    } */
    .contact-info-description {
        margin-bottom: 50px;
    }
}