<div id="landing" class="page-header" data-parallax="true"
    style="background-image: url('./assets/img/woodWork-3.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4" *ngIf="headerProducts">
                <div class="card card-profile" *ngIf="landing" animateOnScroll animationName="fade-in-right ">
                    <div class="card-avatar ">
                        <a>
                            <img class="img " [src]="imageUrl + landing.profilePicture " />
                        </a>
                    </div>
                    <div class="card-body ">
                        <h6 class="card-category ">{{ landing.firstName }}</h6>
                        <h4 class="card-title ">{{ landing.secondName }}</h4>
                        <div class="card-description ">
                            <div class="row mt-4 ">
                                <div class="col contact-description mb-1 d-flex justify-content-start ">
                                    Mijn laatste producten
                                </div>
                            </div>
                            <div class="row mb-4 " *ngIf="headerProducts ">
                                <div class="landing-image-container col" routerLink="/product/{{headerProducts[0].id}}/{{headerProducts[0].title.replace(' ', '-').trim()}}">
                                    <img [src]="imageUrl + headerProducts[0].images[0].image " class="landing-image ">
                                    <img [src]="imageUrl + headerProducts[0].images[0].image "
                                        class="landing-image-shadow ">
                                </div>
                                <div class="landing-image-container col" routerLink="/product/{{headerProducts[1].id}}/{{headerProducts[1].title.replace(' ', '-').trim()}}">
                                    <img [src]="imageUrl + headerProducts[1].images[0].image " class="landing-image ">
                                    <img [src]="imageUrl + headerProducts[1].images[0].image "
                                        class="landing-image-shadow ">
                                </div>
                                <div class="landing-image-container col" routerLink="/product/{{headerProducts[2].id}}/{{headerProducts[2].title.replace(' ', '-').trim()}}">
                                    <img [src]="imageUrl + headerProducts[2].images[0].image " class="landing-image ">
                                    <img [src]="imageUrl + headerProducts[2].images[0].image "
                                        class="landing-image-shadow ">
                                </div>
                            </div>
                        </div>
                        <a [routerLink]="['/contact']" class="btn mt-4 btn-dark btn-round "
                            style="color:white; ">Contact</a>
                    </div>
                </div>
            </div>
            <div class="col align-self-center ">
                <div class="motto text-center " *ngIf="landing ">
                    <h1 class="landing-title ">Producten</h1>
                    <!-- <h3>{{ landing.secondTitle }}</h3> -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main ">
    <div class="main-card ">
        <section class="section " style="border-top-left-radius: 10px; border-top-right-radius: 10px; "
            id="product-synopsys ">
            <ng-select [items]="products$ | async" bindLabel="title" autofocus placeholder="Zoeken..." bindValue="id"
                (keyup)="searchTerm$.next($event.target.value)" class="p-4">
            </ng-select>
            
            <div *ngFor="let product of products; let i = index">
                <div class="row justify-content-center clicky m-5" *ngIf="i % 3 == 0">
                    <div class="col-3">
                        <product-thumbnail [(product)]="products[i]"></product-thumbnail>
                    </div>
                    <div class="col-3">
                        <product-thumbnail [(product)]="products[i + 1]"></product-thumbnail>
                    </div>
                    <div class="col-3">
                        <product-thumbnail [(product)]="products[i + 2]"></product-thumbnail>
                    </div>
                    <div class="col-3">
                        <product-thumbnail [(product)]="products[i + 3]"></product-thumbnail>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>