<div id="landing" class="page-header" data-parallax="true" style="background-image: url('./assets/img/woodWork-3.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4" *ngIf="products">
                <div class="card card-profile" *ngIf="landing" animateOnScroll animationName="fade-in-right ">
                    <div class="card-avatar ">
                        <a>
                            <img class="img " [src]="imageUrl + landing.profilePicture " />
                        </a>
                    </div>
                    <div class="card-body ">
                        <h6 class="card-category ">{{ landing.firstName }}</h6>
                        <h4 class="card-title ">{{ landing.secondName }}</h4>
                        <div class="card-description ">
                            <div class="row mt-4 ">
                                <div class="col contact-description mb-1 d-flex justify-content-start ">
                                    Mijn laatste projecten
                                </div>
                            </div>
                            <div class="row mb-4 " *ngIf="products ">
                                <div class="landing-image-container col" routerLink="/product/{{products[0].id}}">
                                    <img [src]="imageUrl + products[0].image " class="landing-image ">
                                    <img [src]="imageUrl + products[0].image " class="landing-image-shadow ">
                                </div>
                                <div class="landing-image-container col" routerLink="/product/{{products[1].id}}">
                                    <img [src]="imageUrl + products[1].image " class="landing-image ">
                                    <img [src]="imageUrl + products[1].image " class="landing-image-shadow ">
                                </div>
                                <div class="landing-image-container col" routerLink="/product/{{products[2].id}}">
                                    <img [src]="imageUrl + products[2].image " class="landing-image ">
                                    <img [src]="imageUrl + products[2].image " class="landing-image-shadow ">
                                </div>
                            </div>
                        </div>
                        <a [routerLink]="[ '/contact'] " class="btn mt-4 btn-dark btn-round " style="color:white; ">Contact</a>
                    </div>
                </div>
            </div>
            <div class="col align-self-center ">
                <div class="motto text-center " *ngIf="landing ">
                    <h1 class="landing-title ">Producten</h1>
                    <!-- <h3>{{ landing.secondTitle }}</h3> -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main ">
    <div class="main-card ">
        <section class="section " style="border-top-left-radius: 10px; border-top-right-radius: 10px; " id="product-synopsys ">
            <div class="row justify-content-center clicky" *ngFor="let product of products" routerLink="/product/{{product.id}}">
                <div class="col-6 ">
                    <div class="row justify-content-center mt-5">
                        <div class="product-image-container ">
                            <img [src]="imageUrl + product.image " class="product-image ">
                            <img [src]="imageUrl + product.image " class="product-image-shadow ">
                        </div>
                    </div>
                    <div class="row justify-content-center mt-3 ">
                        <div class="product-tags ">{{ product.category.name }}</div>
                    </div>
                    <div class="row justify-content-center mt-2 ">
                        <div class="product-title ">{{ product.title}}</div>
                    </div>
                    <div class="row justify-content-center mt-2 ">
                        <div class="product-description ">{{ product.description }}</div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>