<div class="top"></div>
<div class="col" *ngIf="tagForm">
  <form [formGroup]="tagForm">
    <div class="form-group">
      <label for="firstName">Title</label>
      <input type="text" formControlName="title" class="form-control" [ngClass]="{ 'is-invalid': f.title.errors }" />
      <div *ngIf="f.title.errors" class="invalid-feedback">
        <div *ngIf="f.title.errors.required">title is required</div>
      </div>
    </div>
    <button class="btn btn-primary" [disabled]="!tagForm.dirty" (click)="onSubmit()">
      <div>Save</div>
    </button>
  </form>

  <div *ngFor="let tag of tags; let i = index">
    <div class="row">
      <div class="col" *ngFor="let t of tag; let j = index">
        <div class="tag-container">
          <div (click)="selectTag(t.id, t.title)" class="tag-left">{{ t.title }} </div>
          <div class="tag-right" (click)="removeFilterTag(t)">X</div>
        </div>
      </div>
    </div>
  </div>
</div>