<div id="landing" class="page-header" data-parallax="true" style="background-image: url('./assets/img/woodWork.jpg');">
    <div class="filter"></div>
    <div class="container">
        <section class="section" id="contact" style="z-index: 4; margin-top:30%; border-top-left-radius: 10px; border-top-right-radius: 10px;">
            <div class="row justify-content-center mt-5">
                <div class="col-4">
                    <div class="contact-title">Get in Touch</div>
                    <div class="contact-description">You need more information? Check what other persons are saying about our product. They are very happy with their purchase.</div>
                    <div class="contact-location"><i class="material-icons">pin_drop</i> Find us at the office</div>
                    <div class="contact-location-description">Buizerdstraat,<br /> nr. 62, 2665TG Bleiswijk,<br /> Netherlands</div>
                    <div class="contact-info"><i class="material-icons">phone</i> Give us a ring</div>
                    <div class="contact-info-description">Dylan Vollebregt<br /> 06-83170243<br /> maisondam@hotmail.com</div>
                </div>
                <div class="col-4">
                    <div class="card">
                        <div class="card-header">Contact Me</div>
                        <div class="card-body">

                            <form [formGroup]="contactForm" (ngSubmit)="sendMessage()" class="example-form">
                                <div class="row mt-4">
                                    <div class="col ">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>First Name</mat-label>
                                            <input matInput placeholder="" formControlName="firstname">
                                        </mat-form-field>
                                    </div>
                                    <div class="col">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Last Name</mat-label>
                                            <input matInput placeholder="" formControlName="lastname">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Email</mat-label>
                                            <input matInput placeholder="" formControlName="email">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Your Message</mat-label>
                                            <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="10"
                                                placeholder="" formControlName="message"></textarea>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col d-flex justify-content-end">
                                        <button type="submit" class="btn btn-dark">Send Message</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>