textarea {
    height: 300px;
}

.image-input {
    margin-top: 15px;
    margin-bottom: 15px;
}

.product-image-container {
    cursor: pointer;
}

.top {
    height: 200px;
}

.upload-button {
    visibility: hidden;
}